
<body>

    <header>Tabla</header>
    <h1> <i> Basisty, Fuentes & Assoc.</i> </h1>
    <br />
    <!--Espaciado!-->
    <h2>Nuestra mision</h2>
    <p>Nuestra Misión consiste en <b>proveer soluciones integrales</b> y escalables para atender <br />
        las necesidades tecnológicas de nuestros clientes, trascendiendo
        las fronteras <br /> de proveedor para convernirnos en socios tecnológicos.</p>
    <img src="Descargas/basisty.jpg" alt="Logotipo de basisty" width="300">
    <br />

    <h2>Nuestro Equipo</h2>
    <p>Nuestros consultores poseen comprobada experiencia en el ámbito tecnológico, <br />
         en <b>múltiples plataformas, con múltiples <a href=#>metodologías</a></b> y con clientes de diversas <br /> 
         partes del mundo, ocupando cargos de responsabilidad en diferentes empresas nacionales y trasnacionales.</p>
    <hr />
    <a href="https://www.basisty.com/nosotros/">Ir a Basisty,Fuentes & Assoc.</a>
    <a href="home/spapini/Descargas/basisty01.png"> Ir a la imagen</a>

        <ul> <p><u> Lista desordenada:</u></p>
            <li>Item #1</li>
            <li>Item #2</li>
                <ul>
                    <li>Item #2.1</li>
                    <li>Item #2.2</li>
                </ul>
            <li>Item #3</li>
            <li>Item #4</li>
        </ul>

        <ol> <p><u> Lista Ordenada:</u></p> 
            <li>Item #1</li>
            <li>Item #2</li>
                <ol>
                    <li>Item #1</li>
                    <li>Item #2</li>
                </ol>
            <li>Item #3</li>
            <li>Item #3</li>
        </ol>
        <hr />

        <h2>TABLA DE TRABAJADORES</h2>
        <table>
            <thead>
                <th>Nombre </th> 
                <th>Edad </th> 
                <th>Puesto </th> 
                <th>Fecha de inicio </th> 
                <th>Vacaciones correspondientes </th> 
            </thead>
            <tbody>

            
            <tr>
                <td> Sofia </td>
                <td> 21</td> 
                <td> Project manager</td> 
                <td> 11/05/2022</td> 
                <td> 14 dias </td> 
            </tr>

            <tr>
                <td> Florencia </td>
                <td> 31</td> 
                <td> Frontend developver</td> 
                <td> 14/06/2022</td> 
                <td> 14 dias </td> 
            </tr>
            <tr>
                <td> Mauro </td>
                <td> 27</td> 
                <td> Backend developver</td> 
                <td> 16/07/2022</td> 
                <td> 6 dias </td> 
            </tr>
        </tbody>
        </table>

    <hr />
    <h2>FORMULARIO</h2>
     </body>

