
body{
    background: hsl(0, 4%, 73%);
}
h1{
    color: hsl(240, 60%, 57%);
    font-size: 55px;
}
h2{
   font-size: 45px;
   color: hsl(233, 62%, 65%);
}
p{
    font-size: 30px;
    color:hsl(208, 100%, 97%)
}

a{
    color: hsl(9, 96%, 49%);
    font-size: 60px;
}